body {
    margin: 0px;
    box-sizing: border-box;
    padding: 1em;
    background: linear-gradient(90deg, yellow, brown);
    height: 100vh;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a1 {
    background-color: rgb(238, 202, 148);
    border: solid 3px black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
    width: 8em;
    border-radius: 1em;
}
.b1 {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}